<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.batch.notice.mapper.BatchAppNoticeMapper">

    <resultMap type="com.ruoyi.batch.notice.domain.BatchAppNotice" id="BatchAppNoticeResult">
        <id     property="noticeId"       column="notice_id"       />
        <result property="noticeTitle"    column="notice_title"    />
        <result property="noticeType"     column="notice_type"     />
        <result property="coverUrl"       column="cover_url"       />
        <result property="content"        column="content"         />
        <result property="publishStatus"  column="publish_status"  />
        <result property="publishTime"    column="publish_time"    />
        <result property="readCount"      column="read_count"      />
        <result property="createBy"       column="create_by"       />
        <result property="createTime"     column="create_time"     />
        <result property="updateBy"       column="update_by"       />
        <result property="updateTime"     column="update_time"     />
        <result property="remark"         column="remark"          />
    </resultMap>

    <sql id="selectBatchAppNoticeVo">
        select notice_id, notice_title, notice_type, cover_url, content, publish_status, publish_time, read_count,
               create_by, create_time, update_by, update_time, remark
        from batch_app_notice
    </sql>

    <select id="selectBatchAppNoticeById" parameterType="Long" resultMap="BatchAppNoticeResult">
        <include refid="selectBatchAppNoticeVo"/>
        where notice_id = #{noticeId}
    </select>

    <select id="selectBatchAppNoticeList" parameterType="com.ruoyi.batch.notice.domain.BatchAppNotice" resultMap="BatchAppNoticeResult">
        <include refid="selectBatchAppNoticeVo"/>
        <where>
            <if test="noticeTitle != null and noticeTitle != ''">
                AND notice_title like concat('%', #{noticeTitle}, '%')
            </if>
            <if test="noticeType != null">
                AND notice_type = #{noticeType}
            </if>
            <if test="publishStatus != null">
                AND publish_status = #{publishStatus}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                AND date_format(publish_time, '%Y%m%d') &gt;= date_format(#{params.beginTime}, '%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                AND date_format(publish_time, '%Y%m%d') &lt;= date_format(#{params.endTime}, '%Y%m%d')
            </if>
            AND del_flag = 0
        </where>
        order by publish_status asc, publish_time desc, create_time desc
    </select>

    <insert id="insertBatchAppNotice" parameterType="com.ruoyi.batch.notice.domain.BatchAppNotice" useGeneratedKeys="true" keyProperty="noticeId">
        insert into batch_app_notice (
            <if test="noticeTitle != null and noticeTitle != ''">notice_title, </if>
            <if test="noticeType != null">notice_type, </if>
            <if test="coverUrl != null and coverUrl != ''">cover_url, </if>
            <if test="content != null and content != ''">content, </if>
            <if test="publishStatus != null">publish_status, </if>
            <if test="publishTime != null">publish_time, </if>
            <if test="readCount != null">read_count, </if>
            <if test="remark != null and remark != ''">remark, </if>
            <if test="createBy != null and createBy != ''">create_by, </if>
            create_time
        ) values (
            <if test="noticeTitle != null and noticeTitle != ''">#{noticeTitle}, </if>
            <if test="noticeType != null">#{noticeType}, </if>
            <if test="coverUrl != null and coverUrl != ''">#{coverUrl}, </if>
            <if test="content != null and content != ''">#{content}, </if>
            <if test="publishStatus != null">#{publishStatus}, </if>
            <if test="publishTime != null">#{publishTime}, </if>
            <if test="readCount != null">#{readCount}, </if>
            <if test="remark != null and remark != ''">#{remark}, </if>
            <if test="createBy != null and createBy != ''">#{createBy}, </if>
            sysdate()
        )
    </insert>

    <update id="updateBatchAppNotice" parameterType="com.ruoyi.batch.notice.domain.BatchAppNotice">
        update batch_app_notice
        <set>
            <if test="noticeTitle != null and noticeTitle != ''">notice_title = #{noticeTitle}, </if>
            <if test="noticeType != null">notice_type = #{noticeType}, </if>
            <if test="coverUrl != null">cover_url = #{coverUrl}, </if>
            <if test="content != null">content = #{content}, </if>
            <if test="publishStatus != null">publish_status = #{publishStatus}, </if>
            <if test="publishTime != null">publish_time = #{publishTime}, </if>
            <if test="readCount != null">read_count = #{readCount}, </if>
            <if test="remark != null">remark = #{remark}, </if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy}, </if>
            update_time = sysdate()
        </set>
        where notice_id = #{noticeId}
    </update>

    <update id="deleteBatchAppNoticeById" parameterType="Long">
        update batch_app_notice set del_flag = 2 where notice_id = #{noticeId}
    </update>

    <update id="deleteBatchAppNoticeByIds" parameterType="Long">
        update batch_app_notice set del_flag = 2 where notice_id in
        <foreach item="noticeId" collection="array" open="(" separator="," close=")">
            #{noticeId}
        </foreach>
    </update>

</mapper>
